html {
font-size:inherit!important;
line-height:inherit!important;
}

input {
color:#000!important;
}

body {
line-height:inherit!important;
background-color:#f4f4f4!important;
}

label.control-label.field-required {
color:#666;
}

label.control-label {
color:#666;
}

.choices__list--multiple .choices__item.is-highlighted {
background-color:#0d6cac!important;
border:1px solid #0d6cac!important;
}

.choices__list--multiple .choices__item--selectable {
background-color:#0d6cac!important;
border:1px solid #0d6cac!important;
}

.panel-primary>.panel-heading {
color:#fff;
background-color:#0d6cac!important;
border-color:#0d6cac!important;
}

.panel-danger>.panel-heading {
color:#fff;
background-color:#ad2121;
border-color:#ad2121;
}

.alert-danger {
background-color:transparent;
border-color:#f7a4af;
color:#FFF!important;
}

.alert {
border:none;
color:red!important;
}

.formio-errors .help-block {
color:red!important;
}

input.form-control {
border:1px solid #b9b9b9!important;
padding-left:2%!important;
}

.choices.form-group.formio-choices {
border:1px solid #b9b9b9!important;
}

.choices__list {
color:#000;
}

ul.list-group.list-group-striped {
color:#666;
}

.fileSelector {
color:#666;
}

.row {
margin-right:0!important;
margin-left:0!important;
}

label {
font-size:.8rem!important;
}

legend {
font-size:16px!important;
color:#0d6cac!important;
}

.q-tab-pane {
border:none!important;
}

.q-tabs-inverted.q-tabs-position-top .q-tabs-panes {
border-top:none!important;
}

button.btn.btn-default.btn-wizard-nav-cancel {
display:none;
}

.score-panel {
display:none;
}

p {
color:#000;
}

.panel {
color:#000;
}

.choices__list.choices__list--dropdown {
position:inherit;
max-height:200px;
}

.form-control {
height:auto!important;
min-height:34px!important;
}

ul.list-inline { 
    position: sticky;
    bottom: -63px;
    z-index: 99;
    width: 100%;
    min-height: 63px;
}

button.btn.btn-primary.btn-wizard-nav-next,
button.btn.btn-primary.btn-wizard-nav-previous{
    color: #337ab7;
    background-color:  whitesmoke;
    border-color: #337ab7;
    height: 60px;
    width: 200px;
}
button.btn.btn-primary.btn-wizard-nav-next:hover,
button.btn.btn-primary.btn-wizard-nav-previous:hover,
button.btn.btn-primary.btn-wizard-nav-next:active,
button.btn.btn-primary.btn-wizard-nav-previous:active {
    background-color: #337ab7;
    color: white;
}

button.btn.btn-primary.btn-wizard-nav-submit {
    color: #3c8d41;
    background-color:  whitesmoke;
    border-color: #3c8d41;
    height: 60px;
    width: 200px;
}
button.btn.btn-primary.btn-wizard-nav-submit:hover {
    background-color: #3c8d41;
    color: white;
}

button.btn.btn-default.saveAsDraft {
    position: inherit !important;
    bottom: 0px;
    color: #20a0ff;
    background-color: whitesmoke;
    border-color: #20a0ff;
    height: 60px;
    width: 200px;
    z-index: 999;
}

ul.pagination {
    display: none;
}

table.table.datagrid-table.table-bordered.form-group.formio-data-grid.table-striped.table-bordered {
    color: black;
}

div.formio-component-datagrid {
    overflow-x: auto;
}

input.form-control {
    min-width: 150px;
}
   
